body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;

}

*{
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

}

.button,
textarea{
  font-size: 14px;
}

html, body, #root {
  height: 100%;
}

#root{
  background-image: url("./assets/wallpaperflare.com_wallpaper.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  display: flex;
  align-items: flex-start;
}